
<a href="#">Add Classroom </a>
<br>
{% for i in tabClassrooms %}
id : {{i.id}}
name : {{i.name}}
description : {{i.description}}
<a href="#">Update Classroom</a>
<a href="#">Delete Classroom</a>
<br>
{% endfor %}